{% extends 'main/base.html' %}

{% load static %}

{% block title %}Sessões - Painel da Lan House{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/sessoes_ativas_list.css' %}">
{% endblock %}

{% block content %}
<div class="sessoes-container">
    <h2 class="sessoes-title">Sessões Ativas</h2>
    <table class="sessoes-table">
        <thead>
            <tr>
                <th>TV</th>
                <th>Console</th>
                <th>Hora de Início</th>
                <th>Tempo Restante</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemplo de sessão ativa -->
             {% for s in sessoes %}
                <tr id="sessao_row_id_{{s.id}}" class="sessoes-row">
                    <td>{{s.tv.nome}}</td>
                    <td>{{s.tv.console.nome}}</td>
                    <td>{{s.inicio|date:"H:i"}}</td>
                    <td id="id_timeleft_row_{{s.id}}">{{s.tempo_segundo}}</td>
                    <td class="sessoes-actions">
                        {% if s.status == 1 %}
                            <button id="btn_pausa_{{s.id}}" class="sessoes-btn sessoes-btn-pausar">Pausar</button>
                        {% else %}
                            <button id="btn_ativar_{{s.id}}" class="sessoes-btn sessoes-btn-ativar">Ativar</button>
                        {% endif %}
                        <button id="btn_finalizar_{{s.id}}" class="sessoes-btn sessoes-btn-finalizar">Finalizar</button>
                        <button id="btn_adicionar_tempo_{{s.id}}" class="sessoes-btn sessoes-btn-adicionar-tempo">+ Tempo</button>
                    </td>
                </tr>
             {% endfor %}
        </tbody>
    </table>

    <!-- Botão para adicionar sessão -->
    <button class="sessoes-btn-add" id="btn-add-sessao">+</button>

    <!-- Modal para adicionar sessão -->
    <div class="sessoes-modal" id="modal-add-sessao">
        <div class="sessoes-modal-content">
            <span class="sessoes-modal-close">&times;</span>
            <h3>Criar Nova Sessão</h3>
            <form class="sessoes-form", id="form-add-sessao", method="post">
                {% csrf_token %}
                <div class="sessoes-form-group" id="form-add-sessao">
                    <label for="tv">TV</label>
                    <select name="tv" id="tv">
                        {% for tv in tvs %}
                            <option value="{{tv.id}}">{{tv.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="sessoes-form-group">
                    <label for="cliente">Cliente</label>
                    <select name="cliente" id="cliente">
                        {% for c in clientes %}
                            <option value="{{c.id}}">{{c.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="sessoes-form-group">
                    <label for="tempo_segundo">Tempo</label>
                    <select id="tempo_segundo" name="tempo_segundo">
                            <option value=3600>1 Hora</option>
                            <option value=1800>30 Minutos</option>
                    </select>
                </div>
                <div class="sessoes-form-actions">
                    <button type="button" class="sessoes-btn sessoes-btn-cancelar">Cancelar</button>
                    <button type="submit" class="sessoes-btn sessoes-btn-salvar">Criar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal para adicionar tempo -->
    <div class="sessoes-modal" id="modal-add-tempo">
        <div class="sessoes-modal-content">
            <span id="btn-tempo-close" class="sessoes-modal-close">&times;</span>
            <h3>Adicionar Tempo</h3>
            <form class="sessoes-form", id="form-add-tempo", method="post">
                {% csrf_token %}
                <div class="sessoes-form-group" id="form-add-tempo">
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo">
                        <option value=minuto>Minuto(s)</option>
                        <option value=hora>Hora(s)</option>
                    </select>
                </div>
                <div class="sessoes-form-group">
                    <label for="tempo">Tempo</label>
                    <input type="number" min="1" name="tempo" id="tempo">
                </div>
                <div class="sessoes-form-actions">
                    <button type="button" id="btn-tempo-cancelar" class="sessoes-btn sessoes-btn-cancelar">Cancelar</button>
                    <button type="submit" class="sessoes-btn sessoes-btn-salvar">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        function formatarHora(tempoSegundos) {
            let horas = Math.floor(tempoSegundos / 3600);
            let minutos = Math.floor((tempoSegundos % 3600) / 60);
            let segundos = Math.floor(tempoSegundos % 60);

            // Formatando para "hh:mm:ss"
            let formato = 
                String(horas).padStart(2, '0') + ":" +
                String(minutos).padStart(2, '0') + ":" +
                String(segundos).padStart(2, '0');
            
            return formato;
        }

        function iniciarCronometro(tempoRestante, elemento, sessao_id) {
            function atualizarCronometro() {
                elemento.textContent = formatarHora(tempoRestante); // Atualizando o elemento na página

                //Trocar cor quando faltar menos de 10 minutos
                if (tempoRestante < 600){
                    $("#sessao_row_id_" + sessao_id).removeClass("sessoes-row");
                    $("#sessao_row_id_" + sessao_id).addClass("sessoes-row-warning");
                }

                if (tempoRestante > 0) {
                    tempoRestante--; // Reduzindo o tempo restante
                    setTimeout(atualizarCronometro, 1000); // Atualiza a cada segundo
                } else {
                    elemento.textContent = "Finalizado"; // Quando chega a zero
                    $("#sessao_row_id_" + sessao_id).removeClass("sessoes-row");
                    $("#sessao_row_id_" + sessao_id).removeClass("sessoes-row-warning");
                    $("#sessao_row_id_" + sessao_id).addClass("sessoes-row-finished");
                    $("#btn_pausa_" + sessao_id).hide()
                }
            }

            atualizarCronometro(); // Inicia o cronômetro
        }

        // loop principal
        {% for s in sessoes %}
            // Atualizar cronometro
            var hora_inicio = new Date("{{ s.inicio|date:'c' }}");
            // Se a sessão estiver ativa, continua o cronometro
            if ("{{s.status}}" == "1"){
                var hora_atual = new Date();
                hora_inicio.setSeconds(hora_inicio.getSeconds() + parseInt("{{s.tempo_segundo}}"));
                var diferençaEmMinutos = (hora_inicio.getTime() - hora_atual.getTime()) / (1000);
                iniciarCronometro(diferençaEmMinutos, document.getElementById("id_timeleft_row_{{s.id}}"), "{{s.id}}");
            }
            // Se não, pausa o cronometro
            else{
                var hora_atual = new Date("{{ s.ultima_pausa|date:'c' }}");
                hora_inicio.setSeconds(hora_inicio.getSeconds() + parseInt("{{s.tempo_segundo}}"));
                var diferençaEmMinutos = (hora_inicio.getTime() - hora_atual.getTime()) / (1000);
                $("#id_timeleft_row_{{s.id}}").html(formatarHora(diferençaEmMinutos))
                
                //trocar cor para indicar a pausa
                $("#sessao_row_id_" + "{{s.id}}").removeClass("sessoes-row");
                $("#sessao_row_id_" + "{{s.id}}").addClass("sessoes-row-paused");
                
            }

            // função de pausa
            $("#btn_pausa_{{s.id}}").click(function() {
                $.ajax({
                    url: "{% url 'pausar-sessão' %}",
                    type: "POST",
                    data: {"sessao_id" : "{{s.id}}"},
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            $('#message').html("");
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        $('#message').html("");
                    }
                });
            })

            //Função de ativar
            $("#btn_ativar_{{s.id}}").click(function() {
                $.ajax({
                    url: "{% url 'ativar-sessão' %}",
                    type: "POST",
                    data: {"sessao_id" : "{{s.id}}"},
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            $('#message').html("");
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        $('#message').html("");
                    }
                });
            })

             //Função de finalizar
             $("#btn_finalizar_{{s.id}}").click(function() {

                Swal.fire({
                        title: "Tem certeza que deseja finalizar a sessão?",
                        showDenyButton: true,
                        confirmButtonText: "Sim",
                        denyButtonText: `Não`
                }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            $.ajax({
                                url: "{% url 'finalizar-sessão' %}",
                                type: "POST",
                                data: {"sessao_id" : "{{s.id}}"},
                                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                dataType: 'json',
                                success: function(response) {
                                    if (response.success) {
                                        location.reload();
                                    } else {
                                        $('#message').html("");
                                    }
                                },
                                error: function(xhr, errmsg, err) {
                                    $('#message').html("");
                                }
                            });
                        }
                    });
            })

            $("#btn_adicionar_tempo_{{s.id}}").click(function() {
                var modalAddTempo = document.getElementById('modal-add-tempo');
                modalAddTempo.style.display = 'flex';

                var btnCloseModal = document.getElementById('btn-tempo-close');
                var btnCancelar = document.getElementById('btn-tempo-cancelar');

                // Fechar modal
                btnCloseModal.addEventListener('click', function () {
                    modalAddTempo.style.display = 'none';
                });

                btnCancelar.addEventListener('click', function () {
                    modalAddTempo.style.display = 'none';
                });

                // Fechar modal ao clicar fora
                window.addEventListener('click', function (event) {
                    if (event.target === modalAddTempo) {
                        modalAddTempo.style.display = 'none';
                    }
                });

                $('#form-add-tempo').on('submit', function(e) {
                    e.preventDefault();

                    $.ajax({
                        url: "{% url 'adicionar-tempo-sessão' %}",
                        type: "POST",
                        data: $(this).serialize() + "&sessao_id=" + "{{s.id}}",
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        dataType: 'json',
                        success: function(response) {
                            if (response.success) {
                                location.reload();
                            } else {
                                $('#message').html("");
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            $('#message').html("");
                        }
                    });
                });
            });

        {% endfor %}

        // Abrir modal
        var btnAddSessao = document.getElementById('btn-add-sessao');
        var modalAddSessao = document.getElementById('modal-add-sessao');
        var btnCloseModal = document.querySelector('.sessoes-modal-close');
        var btnCancelar = document.querySelector('.sessoes-btn-cancelar');

        btnAddSessao.addEventListener('click', function () {
            modalAddSessao.style.display = 'flex';
        });

        // Fechar modal
        btnCloseModal.addEventListener('click', function () {
            modalAddSessao.style.display = 'none';
        });

        btnCancelar.addEventListener('click', function () {
            modalAddSessao.style.display = 'none';
        });

        // Fechar modal ao clicar fora
        window.addEventListener('click', function (event) {
            if (event.target === modalAddSessao) {
                modalAddSessao.style.display = 'none';
            }
        });

        $('#form-add-sessao').on('submit', function(e) {
            e.preventDefault();
            
            $.ajax({
                url: "{% url 'criar-sessão' %}",
                type: "POST",
                data: $(this).serialize(),
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        $('#message').html("");
                    }
                },
                error: function(xhr, errmsg, err) {
                    $('#message').html("");
                }
            });
        });
    });
</script>
{% endblock %}